@import '../base/vars';
@import '../base/mixins';

.background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: $background-z-index;
}

.background-push-down {
    @include make-margin-tops($background-push-down-margin-tops);
}