@import '../base/vars';

.hero-container {     
    @include make-container();
    @include make-container-max-widths($hero-container-max-widths);
    @include box-shadow(0 -2px 4px -1px $grey-shadow);
    @include make-paddings($hero-container-paddings);
    @include margin-top-bottom($gutter);
    background-color: $white;

    .hero-subtitle {
        @include brand-font-bold;
        @include media-breakpoint-up(md) {
            font-size: $hero-subtitle-font-size-md;
        }
        font-size: $hero-subtitle-font-size;
        text-align: center;
        margin: $gutter auto 0 auto;
    }
}