/**
 * Ticker
*/
@import '../base/vars';
@import '../base/mixins';
@import '../base/typography';

.ticker-container {
    @include media-breakpoint-up(md) {
        @include margin-top-bottom($gutter * 2);
    }
    @include margin-top-bottom($gutter);
    width: 100%;
    overflow: hidden;
    .ticker {
        @include fix-inline-block-spacing;
        height: $ticker-span-line-height;
        width: $ticker-total-width;
        margin-bottom: 5px;
        overflow-y: hidden;
        span {
            @include brand-font-bold-italic;
            @include text-stroke($white, $black, 2px, $black);
            @include no-select;
            display: inline-block;
            margin-right: $ticker-span-margin;
            line-height: $ticker-span-line-height;
            font-size: $ticker-span-font-size;
        }
        &-left {
            :first-child {
                @include animation('ticker-left 7s linear infinite');
            }
        }
        &-right {
            :first-child {
                @include animation('ticker-right 7s linear infinite');
            }
        }
    }
}

/*keyframe animations*/

@include keyframes(ticker-left) {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: $ticker-total-offset;
    }
}

@include keyframes(ticker-right) {
    0% {
        margin-left: $ticker-total-offset;
    }
    100% {
        margin-left: 0;
    }
}